<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Python\W52_FlaskApp\W52_DigitalSOP\Scripts\python.exe|D:\Python\W52_FlaskApp\W52_DigitalSOP\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="D:\Python\W52_FlaskApp\W52_DigitalSOP" />
    <add key="WSGI_LOG" value="D:\Python\W52_FlaskApp\W52_DigitalSOP\wfastcgi.log" />
  </appSettings>
</configuration>
<!-- Reload 54 -->
<!-- Reload 12 -->
<!-- Reload 11 -->
<!-- Reload 10 -->
<!-- Reload 9 -->
<!-- Reload 8 -->
<!-- Reload 7 -->
<!-- Reload 6 -->
<!-- Reload 5 -->
<!-- Reload 4 -->
<!-- Reload 3 -->
<!-- Reload 2 -->
